.alert {
    width: 100%;
    font-size: 1.6rem;
    color : white;
    margin-top: 1rem;
    height: 4rem;
    padding: 1rem 2rem ;
    margin-top: 1rem;

    &--success{
        background-color: #281745;
    }

    &--error{
        background-color: #dc3545;
    }
}