.listingform{

    &__section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: flex-start;
    }

    &__altsection{
        display: flex;
        justify-content: space-between;
        align-self: center;
        margin-bottom: 1.5rem;
    }

    &__label{
        font-size: 1.8rem;
        color:$color-primary;
        margin-bottom: 0.8rem;
    }

    &__select{
        font-size: 1.6rem;
        width: 100%;
        height: 3rem;
        outline: none;
        margin-bottom: 1.5rem;
    }

    &__input{
        font-size: 1.6rem;
        width: 100%;
        height: 3rem;
        padding:0.5rem .8rem;
        outline: none;
    }

    &__checkbox{
        margin-right: 1rem;
        margin-bottom: .5rem;
    }

    &__button{
        padding: 1rem 2rem;
        font-size: 1.8rem;
        color:$color-white;
        margin-top: 2rem;
        border-radius: .5rem;
        box-shadow: .1rem .2rem .3rem rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:hover{
            background-color: $color-tertiary;
        }

        &--primary{
            background-color: $color-primary;
        }

        @include respond(tab-port){
            margin-left: 40%;

        }
    }

    &__loader{
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}